{
    "swagger": "2.0",
    "info": {
        "description": "API for Signadot Sandboxes",
        "title": "Signadot API",
        "contact": {},
        "version": "2.0"
    },
    "host": "api.signadot.com",
    "basePath": "/api/v2",
    "paths": {
        "/auth/device/code/": {
            "post": {
                "description": "Get an authentication code for a device login flow",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Get Device Authentication Code",
                "operationId": "auth-device-get-code",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/authdevices.Code"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/device/token/": {
            "post": {
                "description": "Get an authentication token for a device login flow",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Get Device Authentication Token",
                "operationId": "auth-device-get-token",
                "parameters": [
                    {
                        "description": "Information to get the token",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/authdevices.TokenInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/authdevices.Token"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/device/token/refresh": {
            "post": {
                "description": "Refresh an authentication token using a refresh token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Refresh Device Authentication Token",
                "operationId": "auth-device-refresh-token",
                "parameters": [
                    {
                        "description": "Refresh token string",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/authdevices.Token"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get organization details",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orgs"
                ],
                "summary": "Get Org Name",
                "operationId": "get-org-name",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/orgs.GetOrgNameResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/artifacts/jobs/{jobName}/attempts/{jobAttempt}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all artifacts for a given job attempt.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Artifacts"
                ],
                "summary": "List job attempt artifacts",
                "operationId": "list-job-attempt-artifacts",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Job Name",
                        "name": "jobName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Job Attempt ID",
                        "name": "jobAttempt",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "user",
                            "system"
                        ],
                        "type": "string",
                        "description": "Filter by artifact space, one of 'user' or 'system' (by default there is no filter)",
                        "name": "space",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/JobArtifact"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/artifacts/jobs/{jobName}/attempts/{jobAttempt}/objects/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get info about a job attempt artifact",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Artifacts"
                ],
                "summary": "Job attempt artifact info",
                "operationId": "info-job-attempt-artifact",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Job Name",
                        "name": "jobName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Job Attempt ID",
                        "name": "jobAttempt",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact Path",
                        "name": "path",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "user",
                            "system"
                        ],
                        "type": "string",
                        "description": "Artifact space, one of 'user' or 'system' (by default 'user')",
                        "name": "space",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JobArtifactInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/artifacts/jobs/{jobName}/attempts/{jobAttempt}/objects/download": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Downloads an artifact for a given job attempt.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "tags": [
                    "Artifacts"
                ],
                "summary": "Download job attempt artifact",
                "operationId": "download-job-attempt-artifact",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Job Name",
                        "name": "jobName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Job Attempt ID",
                        "name": "jobAttempt",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact Path",
                        "name": "path",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "user",
                            "system"
                        ],
                        "type": "string",
                        "description": "Artifact space, one of 'user' or 'system' (by default 'user')",
                        "name": "space",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Downloads the specified byte range of the artifact. Retrieving multiple ranges of data per request is not supported",
                        "name": "Range",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Artifact successfully downloaded",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "signadot-artifact-checksumSHA256": {
                                "type": "string",
                                "description": "A base64-encoded, 256-bit SHA-256 digest of the artifact"
                            },
                            "signadot-artifact-last-modified": {
                                "type": "string",
                                "description": "Date and time when the artifact was last modified"
                            },
                            "signadot-artifact-metadata": {
                                "type": "string",
                                "description": "A json-encoded, map of the artifact metadata"
                            }
                        }
                    },
                    "206": {
                        "description": "Artifact range successfully downloaded",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "signadot-artifact-last-modified": {
                                "type": "string",
                                "description": "Date and time when the artifact was last modified"
                            },
                            "signadot-artifact-metadata": {
                                "type": "string",
                                "description": "A json-encoded, map of the artifact metadata"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/artifacts/jobs/{jobName}/attempts/{jobAttempt}/objects/upload": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Uploads an artifact for a given job attempt.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Artifacts"
                ],
                "summary": "Upload job attempt artifact",
                "operationId": "upload-job-attempt-artifact",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Job Name",
                        "name": "jobName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Job Attempt ID",
                        "name": "jobAttempt",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact Path",
                        "name": "path",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "user",
                            "system"
                        ],
                        "type": "string",
                        "description": "Artifact space, one of 'user' or 'system' (by default 'user')",
                        "name": "space",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Job Execution ID",
                        "name": "jobExecution",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "A base64-encoded, 256-bit SHA-256 digest of the artifact",
                        "name": "checksumSHA256",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "A json-encoded, map of metadata to store with the artifact",
                        "name": "metadata",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "Artifact File",
                        "name": "artifact",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/assistants/{assistantName}/threads/": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Creates an assistant thread",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assistants"
                ],
                "summary": "Create Assistant Thread",
                "operationId": "create-assistant-thread",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Assistant Name",
                        "name": "assistantName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/assistants.Thread"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/assistants/{assistantName}/threads/{threadID}": {
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Deletes an assistant thread",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assistants"
                ],
                "summary": "Delete Assistant Thread",
                "operationId": "assistant-delete-thread",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Assistant Name",
                        "name": "assistantName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Thread ID",
                        "name": "threadID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/assistants/{assistantName}/threads/{threadID}/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Stream assistant thread messages and status information",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/event-stream"
                ],
                "tags": [
                    "Assistants"
                ],
                "summary": "Assistant Thread Stream",
                "operationId": "stream-assistant-thread",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Assistant Name",
                        "name": "assistantName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Thread ID",
                        "name": "threadID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "If set, resume message stream from the given value",
                        "name": "after",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event stream",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/assistants/{assistantName}/threads/{threadID}/messages": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Adds a message to an assistant thread",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "TestExecutions"
                ],
                "summary": "Add an Assistant Message",
                "operationId": "assistant-add-message",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Assistant Name",
                        "name": "assistantName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Thread ID",
                        "name": "threadID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Message content",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/assistants.MessageContent"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/assistants.Message"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/clusters/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List clusters.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "List clusters",
                "operationId": "list-clusters",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cluster"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/clusters/{clusterName}/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get a cluster.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "Get a cluster",
                "operationId": "get-cluster",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Cluster Name",
                        "name": "clusterName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Add a Kubernetes cluster to Signadot.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "Add a cluster",
                "operationId": "add-cluster",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-cluster",
                        "description": "Cluster Name",
                        "name": "clusterName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Remove a Kubernetes cluster from Signadot.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "Remove a cluster",
                "operationId": "remove-cluster",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-cluster",
                        "description": "Cluster Name",
                        "name": "clusterName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/clusters/{clusterName}/devmesh/analyze": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Analyze DevMesh status for a given cluster",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "Cluster DevMesh Analyze",
                "operationId": "cluster-devmesh-analyze",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-new-cluster",
                        "description": "Cluster Name",
                        "name": "clusterName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Filter by statuses (comma separated value)",
                        "name": "namespace",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by namespaces (comma separated value)",
                        "name": "status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/clusters.DevMeshEnabledWorkload"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/clusters/{clusterName}/tokens": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create a new token for connecting a cluster.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "Create cluster token",
                "operationId": "create-cluster-token",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-new-cluster",
                        "description": "Cluster Name",
                        "name": "clusterName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClusterToken"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/clusters/{clusterName}/tokens/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List the cluster tokens associated with a cluster.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "List cluster tokens",
                "operationId": "list-cluster-tokens",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-new-cluster",
                        "description": "Cluster Name",
                        "name": "clusterName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ClusterToken"
                            }
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/clusters/{clusterName}/tokens/{tokenId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get a cluster token associated with a cluster.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "Get a cluster token",
                "operationId": "get-cluster-token",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-new-cluster",
                        "description": "Cluster Name",
                        "name": "clusterName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "kq6mtksk7mn5",
                        "description": "Token Id",
                        "name": "tokenId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClusterToken"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete a cluster token associated with a cluster.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Cluster"
                ],
                "summary": "Delete cluster token",
                "operationId": "delete-cluster-token",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-new-cluster",
                        "description": "Cluster Name",
                        "name": "clusterName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "kq6mtksk7mn5",
                        "description": "Token Id",
                        "name": "tokenId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/jobs": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List Jobs",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Jobs"
                ],
                "summary": "List Jobs",
                "operationId": "list-jobs",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Job"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Creates a job with the provided parameters.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Jobs"
                ],
                "summary": "Create a job",
                "operationId": "create-job",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request to create a job",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/jobs/{jobName}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Fetch the details about a given job.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Jobs"
                ],
                "summary": "Get a job",
                "operationId": "get-job",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "job-xyz",
                        "description": "Job Name",
                        "name": "jobName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete a given job.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Jobs"
                ],
                "summary": "Delete a job",
                "operationId": "delete-job",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "job-xyz",
                        "description": "Job  Name",
                        "name": "jobName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/jobs/{jobName}/attempts/{jobAttempt}/logs/stream": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Stream logs for a given job attempt.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/event-stream"
                ],
                "tags": [
                    "JobLogs"
                ],
                "summary": "Stream job attempt logs",
                "operationId": "stream-job-attempt-logs",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Job Name",
                        "name": "jobName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Job Attempt ID",
                        "name": "jobAttempt",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "stdout",
                            "stderr"
                        ],
                        "type": "string",
                        "description": "Stream type (stdout or stderr)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "If set, the number of lines from the end of the logs to show",
                        "name": "tailLines",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "If set, resume logs stream from the given cursor",
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Log lines stream",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/jobs/{jobName}/cancel": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Cancel a given job.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Jobs"
                ],
                "summary": "Cancel a job",
                "operationId": "cancel-job",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "job-xyz",
                        "description": "Job Name",
                        "name": "jobName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Job"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/resource-plugins": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all resource plugins under the specified Signadot org.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ResourcePlugins"
                ],
                "summary": "List resource plugins",
                "operationId": "list-resource-plugins",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ResourcePlugin"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/resource-plugins/{pluginName}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the specified resource plugin by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ResourcePlugins"
                ],
                "summary": "Get the requested resource plugin",
                "operationId": "get-resource-plugin",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "mariadb-plugin",
                        "description": "Resource plugin name",
                        "name": "pluginName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourcePlugin"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Apply a resource plugin. Updates are not supported at this time.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ResourcePlugins"
                ],
                "summary": "Apply a resource plugin",
                "operationId": "apply-resource-plugin",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "mariadb-plugin",
                        "description": "Resource plugin name",
                        "name": "pluginName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request to create or update a resource plugin",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResourcePlugin"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete the resource plugin by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ResourcePlugins"
                ],
                "summary": "Delete a resource plugin",
                "operationId": "delete-resource-plugin",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "mariadb-plugin",
                        "description": "Resource plugin name",
                        "name": "pluginName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/routegroups": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all routegroups under the specified Signadot org.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "RouteGroups"
                ],
                "summary": "List routegroups",
                "operationId": "list-routegroups",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/RouteGroup"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/routegroups/{routegroupName}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Fetch the details about a given routegroup.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "RouteGroups"
                ],
                "summary": "Get a routegroup",
                "operationId": "get-routegroup",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-routegroup",
                        "description": "RouteGroup Name",
                        "name": "routegroupName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RouteGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Creates or updates a routegroup with the provided parameters.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "RouteGroups"
                ],
                "summary": "Create or update a routegroup",
                "operationId": "apply-routegroup",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-routegroup",
                        "description": "RouteGroup Name",
                        "name": "routegroupName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request to create or update routegroup",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RouteGroup"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RouteGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete a given routegroup.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "RouteGroups"
                ],
                "summary": "Delete a routegroup",
                "operationId": "delete-routegroup",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-routegroup",
                        "description": "RouteGroup Name",
                        "name": "routegroupName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/runnergroups": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List RunnerGroups",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "RunnerGroups"
                ],
                "summary": "List RunnerGroups",
                "operationId": "list-runnergroup",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/JobRunnerGroup"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/runnergroups/{runnergroupName}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Fetch the details about a given runnergroup.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "RunnerGroups"
                ],
                "summary": "Get a runnergroup",
                "operationId": "get-runnergroup",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-runnergroup",
                        "description": "RunnerGroup Name",
                        "name": "runnergroupName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JobRunnerGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Creates or updates a runnergroup with the provided parameters.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "RunnerGroups"
                ],
                "summary": "Create or update a runnergroup",
                "operationId": "apply-runnergroup",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-runnergroup",
                        "description": "RunnerGroup Name",
                        "name": "runnergroupName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request to create or update runnergroup",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/JobRunnerGroup"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JobRunnerGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete a given runnergroup.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "RunnerGroups"
                ],
                "summary": "Delete a runnergroup",
                "operationId": "delete-runnergroup",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-runnergroup",
                        "description": "RunnerGroup Name",
                        "name": "runnergroupName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmptyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/sandboxes": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "List all sandboxes under the specified Signadot org.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Sandboxes"
                ],
                "summary": "List sandboxes",
                "operationId": "list-sandboxes",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Sandbox"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orgs/{orgName}/sandboxes/{sandboxName}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Fetch the details about a given sandbox.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Sandboxes"
                ],
                "summary": "Get a sandbox",
                "operationId": "get-sandbox",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "my-company",
                        "description": "Signadot Org Name",
                        "name": "orgName",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "my-sandbox",
                        "description": "Sandbox Name",
                        "name": "sandboxName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Sandbox"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
[...]
